# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

> 0.5%
last 2 versions
Firefox ESR
not dead

# exclude all es5 browsers; we don't support them anymore
not IE 9-11
not edge 16-18
not last 2 IE versions
not last 2 ie_mob versions

# exclude browsers we don't explicitly support
not last 2 op_mini versions
not last 2 op_mob versions
not last 2 baidu versions
not last 2 kaios versions
not last 2 and_uc versions
not last 2 and_qq versions
not last 2 samsung versions
not last 2 opera versions
not android 143
