<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<h2>Usage Examples</h2>
<p> In "app.module.ts" import ODataModule and then inject the ODataService where you want to use this library.</p>
<p>
  All examples in this page are based on the publicly available OData V4 sample service TripPin (SERVICE_ROOT):
  <a href="https://services.odata.org/V4/TripPinServiceRW">{{serviceRoot}}.</a>
  <br/> Metadata of this service is here:
  <a href="https://services.odata.org/V4/TripPinServiceRW/$metadata">{{serviceRoot}}/$metadata.</a>
</p>
<p>
  <b>
    <i>
      Attention to make these examples working you need to visit the TripPin service page and accept the certificate which is surprisingly
      not valid.
      <br/> The lack of validity is due to the certificate host name not matching the actual host name of the service.
      <br/> Anyway the TripPin service has been created by Microsoft so it should be safe accepting the certificate.
    </i>
  </b>
</p>
<p>To run the example queries and get the response, click on the "Execute query" button. Service response could be slow depending
  on workload.</p>
<p>Any feedback is highly appreciated and please report issues! Thanks so much!</p>

<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Basic Read</p-tab>
    <p-tab value="1">Basic Write</p-tab>
    <p-tab value="2">Advanced Read</p-tab>
    <p-tab value="3">Advanced Write</p-tab>
    <p-tab value="4">Service Document and Metadata</p-tab>
    <p-tab value="5">Batch</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <ov4-basic-read></ov4-basic-read>
    </p-tabpanel>
    <p-tabpanel value="1">
      <ov4-basic-write></ov4-basic-write>
    </p-tabpanel>
    <p-tabpanel value="2">
      <ov4-adv-read></ov4-adv-read>
    </p-tabpanel>
    <p-tabpanel value="3">
      <ov4-adv-write></ov4-adv-write>
    </p-tabpanel>
    <p-tabpanel value="4">
      <ov4-metadata></ov4-metadata>
    </p-tabpanel>
    <p-tabpanel value="5">
      <ov4-batch></ov4-batch>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>

<router-outlet></router-outlet>
